{% extends 'basef.html' %}

<!-- NAME -->
{% block name %} Attendance {% endblock %}

<!-- CONTANT -->

{% block contant%}
<div class="content">

    <form method="POST">

        {{ form.as_p }} {% csrf_token %}
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
    <hr>
    <h4>{{ courseid }}</h4>
    <hr>
    <table id="result" class="table table-dark">

        <tr class="bg-primary">
            <th scope="col">Student ID</th>
            <th scope="col">Total Lectures</th>
            <th scope="col">Attended Lectures</th>
        </tr>


        {% for display in result %}
        <tr scope="row">
            <td><a href="javascript:;" onclick="singleStudent({{display.0}})">{{display.0}}</a></td>
            <td>{{display.1}}</td>
            <td>{{display.2}}</td>
        </tr>

        {% endfor %}

    </table>

</div>
{% endblock %}

<!-- SCRIPT -->

{% block script %} {% endblock %}