{% extends 'basef.html' %}

<!-- NAME -->
{% block name %} Marks {% endblock %}

<!-- CONTANT -->

{% block contant%}
<div class="content">

    <form method="POST">

        {{ form.as_p }} {% csrf_token %}
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
    <hr>
    <table id="result" class="table table-dark">

        <tr class="bg-primary">
            <th scope="col" style="display:none">Marks ID</th>
            <th scope="col">Student ID</th>
            <th scope="col">Exam Type</th>
            <th scope="col">Obtained Marks</th>
            <th scope="col">Total Marks</th>
        </tr>


        {% for display in result %}
        <tr scope="row">
            <td style="display:none">{{display.0 }}</td>
            <td><a href="javascript:;" onclick="singleStudent({{display.1}},{{year}},{{sem}})">{{display.1}}</a></td>
            <td>{{display.2}}</td>
            <td><input type="number" name="obtained" min="0" max="{{display.4}}" value="{{display.3}}"></td>
            <td>{{display.4}}</td>
        </tr>
        {% endfor %}

    </table>
    <hr>
    <button type="submit" onclick="UpdateMarks();" class="btn btn-success">Save</button>



</div>
{% endblock %}

<!-- SCRIPT -->

{% block script %}

<script>
    const csrftoken = Cookies.get('csrftoken');
    var arr = [];
    $(function() {
        getInitMarks();
    });

    function getInitMarks() {
        var total_rows = document.getElementById("result").rows.length;

        for (var i = 1; i < total_rows; i++) {
            temp = document.getElementById("result").rows[i].cells[3].getElementsByTagName("input")[0].value;
            arr.push(temp);
        }
        console.log(arr);
    }


    function csrfSafeMethod(method) {
        return ['GET', 'HEAD', 'OPTIONS', 'TRACE'].includes(method);
    }

    function sendJSON(data, url, csrftoken) {

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: function(response) {
                console.log("Sent successfully!!")
            }

        });
    }

    function UpdateMarks() {
        updates = {}
        var total_rows = document.getElementById("result").rows.length;

        for (var i = 1; i < total_rows; i++) {
            temp = document.getElementById("result").rows[i].cells[3].getElementsByTagName("input")[0].value;
            if (temp != arr[i - 1]) {
                temp2 = document.getElementById("result").rows[i].cells[0].innerHTML;
                updates[temp2] = temp;
            }
        }
        console.log(updates);
        console.log("Button Clicked");
    }

    url = "/faculty/marks_update/";

    sendJSON(JSON.stringify(updates), url, csrftoken);

    function singleStudent(studentid, ac_year, semester) {
        new_url = location.protocol + "//" + location.host + "/faculty/marks/";
        data = {
            'studentid': JSON.stringify(studentid),
            'year': JSON.stringify(ac_year),
            'semester': JSON.stringify(semester)
        }
        sendJSON(data, new_url, csrftoken);

        window.location.href = new_url;
    }
</script>
{% endblock %}