{% extends 'basef.html' %}

<!-- NAME -->
{% block name %} Attendance {% endblock %}

<!-- CONTANT -->

{% block contant%}
<div class="content">

    <h4>{{ courseid }}</h4>
    <table id="result" class="table table-dark">

        <tr class="bg-primary">
            <th scope="col">#</th>
            <th scope="col" style="display:none">Attendance ID</th>
            <th scope="col">Date</th>
            <th scope="col">Day</th>
            <th scope="col">Attended</th>
            <th></th>
        </tr>


        {% for display in result %}
        <tr scope="row">
            <td>{{display.1}}</td>
            <td style="display:none">{{display.0}}</td>
            <td>{{display.2}}</td>
            <td>{{display.3}}</td>
            {% if display.4 == 0 %}
            <td>absent</td>
            {% else %}
            <td>present</td>
            {% endif %}
            <td><button onclick=dirtybit({{display.0}},{{display.1}});>Change</button></td>
        </tr>

        {% endfor %}

    </table>

    <hr>
    <button type="submit" onclick="sendJSON();" class="btn btn-success">Save</button>

</div>
{% endblock %}

<!-- SCRIPT -->

{% block script %}
<script>
    var updates = {}

    const csrftoken = Cookies.get('csrftoken');

    function dirtybit(attendanceid, no) {

        var attended = document.getElementById("result").rows[no].cells[4]

        if (attended.innerHTML == "present") {
            attended.innerHTML = "absent"
            updates[attendanceid] = 0
        } else {
            attended.innerHTML = "present"
            updates[attendanceid] = 1
        }

        console.log(updates)
    }


    function csrfSafeMethod(method) {
        return ['GET', 'HEAD', 'OPTIONS', 'TRACE'].includes(method);
    }

    function sendJSON() {

        console.log("Button Clicked");

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: "/faculty/attendance_update/",
            type: "POST",
            data: {
                'updates': JSON.stringify(updates)
            },
            success: function(response) {
                console.log("Seend successfully")
            }

        });

    }
</script>
{% endblock %}