{% extends 'base.html' %}

<!-- CONTANT -->
{% block contant%}
<div class="content">

    <form method="POST">

        {{ form.as_p }} {% csrf_token %}
        <button type="submit">Submit</button>

    </form>

    <table border="1">

        <tr>
            <th>Course id</th>
            <th>Total classes</th>
            <th>Attended classes</th>
        </tr>


        {% for display in result %}
        <tr>
            <td>{{display.0}}</td>
            <td>{{display.1}}</td>
            <td>{{display.2}}</td>
        </tr>
        {% endfor %}


    </table>





</div>
{% endblock %}